<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Cambia tu Password</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<nav th:replace="~{layout::menu}"></nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center">Cambia tu Password</h2>

                    <form action="#" method="post" id="passwordForm">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Nueva Contrasena</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" th:required="required">
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Repitir Contrasena</label>
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" th:required="required">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" id="guardarBtn">Guardar</button>
                        </div>
                    </form>

                    <div th:if="${success}" class="alert alert-primary" role="alert">
                        <p th:text="${success}"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery/jquery.js}" type="text/javascript"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('guardarBtn').addEventListener('click', function() {
            const newPassword = document.getElementById('newPassword').value;
            const confirmNewPassword = document.getElementById('confirmNewPassword').value;

            if (!validatePassword(newPassword)) {
                alert('La contraseña debe ser de mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula, un número y un carácter especial');
                return;
            }

            if (newPassword !== confirmNewPassword) {
                alert('Las contraseñas no coinciden');
                return;
            }

            document.getElementById('passwordForm').submit();
        });
    });

    function validatePassword(password) {
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;
        return passwordRegex.test(password);
    }
</script>

</body>
</html>
